<?xml version="1.0"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5"/>
    <customErrors mode="RemoteOnly">
      <error statusCode="404" redirect="/_resource/html/not_found.html"/>
    </customErrors>
  </system.web>
  <system.webServer>
    <!-- Azure Server 比較舊，沒有.JSON這個MIME，因此要手動加入
    <staticContent>
      <mimeMap fileExtension=".json" mimeType="application/json" />
    </staticContent>
    -->
    <httpErrors errorMode="Custom">
      <clear/>
      <error statusCode="404" path="/_resource/html/not_found.html" responseMode="ExecuteURL"/>
    </httpErrors>
  </system.webServer>
  <!-- 使用C#6.0以上的語法（Visual Studio Only） -->
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.8, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701"/>
    </compilers>
  </system.codedom>
</configuration>